body {
    background: lightblue;
}
.container {
    height: 600px;
    width: 600px;
    background: #292e87;
    margin: 100px auto auto auto;
}
.firstRow {
    display: flex;   
    margin: 20px;
    margin-bottom: 5px;
}
.secondRow {
    display: flex;
    margin: 20px;
    margin-top: 0px;
}
.button {
    margin-top: 10px;
    margin-right: 10px;
    width: 100px;
    background: lightblue;
    border: 0;
    border-radius: 5px;
}
.board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 0px 20px 0px 20px;
}
.square {
    display: flex;
    border: 1px solid white;
    height: 140px;
    background-color: rgb(43, 48, 145);
    font-size: 8em;
    justify-content: center;
    align-items: center;
    color: white;
}
label {
    color: lightblue;
    margin-top: 20px;
}
#player2 {
    margin-left: 28px;
}
.reset {
    margin-left: 170px;
}
#change {
    background: lightblue;
    border: 0px;
    border-radius: 5px;
    margin-top: 6px;
}
.winner {
    color: lightblue;
    margin-top: 10px;
    text-align: center;
}
hr {
    margin-bottom: 20px;
}